
        	.TABLE{
        			table-layout: fixed;
        			width: 400;
        			border-collapse: collapse
        		}
        	
        	.td1{
        			width:50; border:1
        		}
        	th{
        			width:100;
        			background-color:lightgray;
        			border: 1; font-weight: bolder 
        		}	
        	P {
        			font-size: x-large;
        			text-align: center;
        			font-weight: bolder
        		}
			.p1	{
					font-size: 15pt;
					font-weight:bold
				}
			.pTopic{
				font-size: 12pt;
			    text-align: left;
				font-weight:bolder
				}
            .box {
                margin: 20px;
                padding: 15px;
                height: 160px;
                border: 2px solid black;
                font-size: 10pt; font-weight: normal;
            }
            .pTitle{
            	font-size:20pt;
            	font-weight:bolder;
            	text-align: center
            }
            .lFont{
            	font-size: 10pt;
            	text-align: right;
            }
            .nav-list {
            	position:fixed;
            	top: 35%;
            	
            	width: 21.7%
            }
           .go-top{

				position: fixed;
				bottom:2em;
				left:2em;
				text-decoration: none;
				color:white;
				background-color:gray;
				font-size: 12px;
				padding:1em;
				
				}

		   .go-top:hover{
				
				background-color:black;
				        
					   }
		   .date{
		   		text-align:center;
		   		font-size: 12px;
		   				   	
		   }
		  BODY{
		  		padding-top:25px;
		  }
		  
