{% extends "board_top.html" %}
{% block body %}

{{ super() }}

<form action="" method="post" onclick="return modifyForm()">
<div class="container" >
	<div class="row" align="left">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p><strong>분류</strong>
			<select id="category" name="category">
				<option value="{{ post.category }}">{{ post.category }}</option>
				<option value="STORE" name="store">STORE</option>
				<option value="ADMIN" name="admin">ADMIN</option>
				<option value="MOBILE" name="mobile">MOBILE</option>
			</select></p>
			<br/>
			<p><strong>상태</strong>
			<select id="status" name="status" value="{{ post.status }}">
				<option value="{{ post.status }}">{{ post.status }}</option>
				<option value="대기중" name="wait">대기중</option>
			</select></p>
			<br/>
			<p><strong>제목</strong>
			<input type="text" size="100" id="subject" name="subject" value="{{post.subject}}"></p>
			<br/>
			<pre><textarea class="summernote" rows="20" cols="105" name="content"> {{ post.content | safe }} </textarea></pre>
			<br/>
			<p><input type="submit" value="수정완료"></p>
		</div>
	</div>
</div>
</form>

<script type="text/javascript">
  	$(document).ready(function() {
 		$('.summernote').summernote({
  		height: 300,   //set editable area's height
  		focus: true    //set focus editable area after Initialize summernote
	});
});

var modifyForm = function() {
     var content = $('textarea[name="content"]').html($('.summernote').code());
};
</script>

{% endblock %}
