{% extends "board_top.html" %}
{% block body %}
{{ super() }}
<style type="text/css">
	h2{
		color: #A9302A;
		font-family: "Franklin Gothic Heavy";
		font-weight: bolder;
	}
</style>


<div class="container">
	<div class="row">
		<h2>제안서 상황</h2>
		<br/>
		{% for post in post_list %}
		<div class="{{set_color(post.status)}}" id=status>
	    <div class="panel-heading">이 제안은 현재 {{post.status}} 상태입니다.</div>
    	<div class="panel-body content"><pre>{{post.content|safe}}</pre></div>
    	<div class="panel-body">
    		{%for co in post.comments %}
    		{% if co.section == 10 %}
    		<pre>{{co.user.name}}: {{co.comment}}</pre>
    		{%endif%}
    		{%endfor%}
    	</div>
    	</div>
    	{%endfor%}
	</div>
</div>

{% endblock %}

