{% extends "board_top.html"%}
{% block body %}
{{ super() }}
<form action="" method="post">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
    <thead>
        <tr>
            <th width="10%">분류</th>
            <th width="30%">제목</th>
            <th width="10%">상태</th>
            <th width="10%">제안자</th>
            <th width="20%">날짜</th>
        </tr>
    </thead>
    <tbody id="post_list">
    	{% for post in post_list %}

        <tr class="cursor">
            <td id="category">{{post.category}}</td> 
            <td id="subject" value={{post.board_id}}><a href="{{url_for('show', id=post.id) }}">{{post.subject}}</a></td>
            <input type="hidden" id= {{post.board_id}}>

            <td id="status">{{post.status}}</td>
            <td id="author_id">{{ post.author_id }}</td> 
            <td id="date">{{ post.created_at.date() }}</td>  
        </tr>
        {% endfor %}      
    </tbody>
    
    <tfoot>
        <tr>
            <th>분류</th>
            <th>제목</th>
            <th>상태</th>
            <th>제안자</th>
            <th>날짜</th>
        </tr>
    </tfoot>
</table>
</form>

{% endblock %}
