{% extends "board_top.html" %}
{% block body %}
{{ super() }}

<div class="container" style="padding: 0 19px">
	<div class="row-fluid">
		<div class="col-xs-5 col-sm-12 col-md-5 boards"> 
			<hr>
		</div>
		<div class="col-xs-2 col-md-2"> 
			<p class="text-muted">뭐...스토어?</p>
		</div>
		<div class="col-xs-5 col-md-3 col-md-offset-2">
			<form action="" method="post">
				<img class="centered" src="{{request.values.gravata_url}}"> 
				<p name="email"> {{request.values.email}}</p> 			
			  	<!--이게 왜 필요한거지????..?? <input type="hidden" name="next" value="{{next}}"> -->
			</form>
			
		</div>
	</div>

	<div class="container col-md-6">
		<div class="">
			<h1>지도로 매장 보기 기능(제목부분)</h1>
		</div>
	</div>
	<br/><hr>
	
	<div class="col-md-12">
		<table class="table table-striped">
		<thead>이 제안은 입니다.<button class="btn-primary">상태변경</button></thead>
		<tbody>
			<tr><td>
				이 제안은 현재 크리에이터팀 및 경영팀의 리뷰를 거치지 않았습니다.<br/>
				다른분들의 의견을 반영하여 검토하도록 하겠습니다.
			</td></tr>
		</tbody>
		
	</table>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<hr>
	<!-- 댓글 부분 -->
	<div class="row-fluid">
		<div class="col-md-12" name="comm_list">
			<ul class="comm_list">
				{% for comm in comm_list%}
				<li> {{ comm.email }} </li>
				<li> {{ comm.comment }}</li>
				<hr>
				{% endfor %}
			</ul>
		
			<hr>
		</div>
	</div>
	<div id="comm_win" >
		<form action="/add_comm" method="post" >
		  <img src="{{request.values.gravata_url}}"> 	
		  <input name="email" type="text" value="{{ request.values.email }}  ">
		  <textarea name="comment"> </textarea>  
		  <input type="submit" value="댓글 입력">    
		</form>
	</div>
</div>

<script>
	
</script>
{% endblock %}

