{% extends "board_top.html" %}
{% block body %}
{{ super() }}


<div class="container center-block">
    <div class="row-fluid ">
	    <div class="col-sm-5 col-md-5">
	        <h2 align="left">{{post.subject}}</h2>
	    </div>
	    <div class="col-sm-2 col-md-2" >
	        <h4 class="text-muted page-bottom" align="center">
	        	{{post.category}}
	        </h4>
	    </div>    	
	    <div class="col-sm-2 col-md-3 col-md-offset-2">
	    	 <img src={{session.get('gravatar')}} align="right">
	         <h4 name="email" align="right"> {{session['user_email']}}</h4>
	    </div>           
	    <div class="col-md-12 col-sm-12 center-block">
	    	 <pre>{{ post.content }}</pre> 
	    </div>
	</div>    


	</div> 
<div class="container center-block">  	
	<form action="{{ url_for('put_post', id=post.id) }}" method="post">
    <div class="col-md-12">
        <table class="table table-striped" border="1">
        <thead>
			<p>현재 제안서는 {{post.status}} 상태입니다.
			{% 
				if g.user.is_admin()
           	%}
        	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        	제안상태변경
			</button>
			{% endif %}
			</p>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h2 class="modal-title" id="myModalLabel">제안상태변경하기</h2>
	 			</div>

			      <div class="modal-body">
			      	<div  class="btn-group">
			      		<p>상태 </p>
			      		<select id="status" name="status">
							<option value="wait">대기중</option>
							<option value="create_wait">개발예정</option>
							<option value="creating">개발중</option>
							<option value="update">업데이트</option>
							<option value="reject">반려</option>
						</select>
	            		<div>
	    				<p>의견</p>
	    				<textarea rows="8" cols="50" name="opinion"> </textarea>
	            		</div>
			      	</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <input type="submit" value="변경완료">
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
       </thead> 
        
        <tbody>
        	<tr><td> 이곳에 제안서에 대한 의견을 작성해주세요</td></tr>
        	{% for comm in comm_list_admin %}
        	<tr><td class="result">{{comm.comment}} </td></tr>
        	{% endfor %}
        </tbody>
		</table>
	</div>
	</form>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr>
	</div>

    <!-- 댓글 부분 -->
<form action="{{ url_for('add_comm', id=post.id) }}" method="post"> 
    <div class="container center-block">
    <div class="row-fluid">
        <div class="col-md-12" name="comm_list">
        	<form action="" method="post">
        	{% for comm in comm_list %}
        						 
        	<table class="table table-striped" data-id={{comm.id}}>        		
        		
        		<th> <p><img src={{set_img('comm.user.email')}}></p>
        			 <p>{{comm.user.email}}</p>
        			 <p> {{comm.created_at.date()}}</p>
        			 <p id={{comm.id}}> {{ comm.comment }}</p>
        		</th>
     
        		 <td>
        		 	<div class='edit_box'>
                	<span class="error"> 댓글을 입력하세요 </span>
                	</div>
                </td>
                 {% if g.user.email==session['user_email']  %}
                <td>
                	<a class="btn btn-default modify" role="button">수정</a>
                	<a class="btn btn-default delete" role="button">삭제</a>
                </td>
              {%endif%}
            </table>

            {%endfor%}
         
          </form>
        </div>
    </div>
	<div id="addComm">   
	 	<ul class="list-inline">
	      <li><img src="{{session.get('gravatar')}}"></li>
	      <li><p class="form-control-static" name="email">{{session['user_email']}}</p></li>
	    </ul>                      
	    <textarea class="form-control reply" name="reply" rows="3"> </textarea>  
	    <input type="submit" class="pull-right" value="댓글 입력">    
	 
	</div>
	<hr>
</div>
</form>


<script type="text/javascript">
	$('.modify').on('click', function(){
		var data=$(this).closest('table').data('id');
		var str= $('#' + data).text();
		$(this).closest('table').find('.edit_box')
			.html("<form methods=post>" +
				"<textarea class='form-control' rows=3 name='comment_modify'>" + str + "</textarea>"
			+ "<button type='button' class='modify_comment'>수정</button>" + "</form>")	
			.find('form');
	});
	
	$(document).on('click', '.modify_comment', function() {
		var id = $(this).closest('table').data('id');
		var $textarea = $(this).parent().find('textarea');
		var result_value =  $(this).parent().find('textarea').val();
		console.log(result_value);
		$.ajax({
			url: {{ url_for('update_comm', id=-1 )|tojson }}.replace('-1', id),
			type: 'PUT',
			data: 'comment_modify=' + result_value
		}).done(function () {
			$('#' + id).html(result_value);
			
		}).always(function() {
			$('.modify_comment').hide();
    		$textarea.hide();
 		 });
	});
</script>
<!-- 댓글 유효성 검사를 하려고해요 -->
<script type="text/javascript">
	
		$('.error').hide();
		$('.pull-right').on('click', function(e){	
			
		var data= $('.reply').val();//$('.form-control').val();
		var len= data.length;
		if(len < 1)
		{
			alert('댓글을 입력하십시오');
			$('.error').show();
			e.preventDefault();	
		}
		else
		{
			$('.error').hide();
		}
		
	});
	
</script>

<script type="text/javascript">
	$('.delete').on('click', function(){
		var closestUl = $(this).closest('table');
		var del_id= closestUl.data('id');
		$.ajax({
			url: {{ url_for('del_comm', id=-1 )|tojson }}.replace('-1', del_id),
			type: 'DELETE',
			success:function(){
				closestUl.remove();
				alert('댓글이 삭제되었습니다.');
			}			
		});

	});

</script>

{% endblock %}

