{% extends "board_top.html" %}
{% block body %}
{{ super() }}

<div class="container">
	<div class="row"> 
		<div class="col-xs-4 col-md-4 col-sm-4" style="padding-top:10%" align="center">
				<img src="{{session.get('gravatar')}}" class="img-circle" style="height:90px;width:90px;">	
				<h3> {{info.name}}</h3>
				<span class="posts">게시물 작성수: {{info.posts|count}}</span><br>
				<span class="replys">덧글 작성수: {{info.comments|count}}</span>
		</div>
		<div class="col-xs-8 col-md-8 col-sm-8">
			<div>
				<h3>작성한 글</h3>
				{% for title in info.posts %}
				<a href="{{url_for('show', id=title.id)}}">{{title.subject}}</a><br>
				{% endfor %}
			</div>
			<div>
				<h3>작성한 댓글</h3>
				{% for comm in info.comments%}
				{{ comm.created_at.date()}}<br>
				<a href="{{url_for('show', id=comm.post_id)}}">{{comm.comment}}</a><br>
				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}