{% block metas %}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css')}}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css')}}" type="text/css">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>


<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
    $('#example').dataTable({
            "aaSorting": [[ 4, "desc" ]]
    });
});
        document.all['status'].disabled=true;
</script>


<script src="static/js/editor_loader.js?environment=development" type="text/javascript"></script>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}


{% block body %}{% endblock %}
