 	<form action="" method="post">   
<div class="row">

	    <div class="col-xs-6 col-md-6 col-sm-6">
	        <h2 align="left">{{post.subject}}</h2>
	    </div>
	    <div class="col-xs-1 col-md-1 col-sm-1">
	        <h4 class="text-muted page-bottom" align="center">
	        	{{post.category}}
	        </h4>
	    </div>    	
	    <div class="col-xs-5 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2">
	    	 <img src={{session.get('gravatar')}} align="right">
	         <h4 name="email" align="right"> {{session['user_email']}}</h4>
	    </div>
</div>


<div class="row">    
    <div class="col-xs-9 col-md-9 col-sm-9 center-block">
    	<div class="content_body">
    		 {{ post.content }}
    	</div>
    </div>
    {% if g.user.email==session['user_email'] %}
    <div class="col-xs-3 col-md-2 col-md-offset-1 col-sm-3">
    <a href="{{url_for('get_modify', id=post.id) }}">수정</a>
    <a class="del_body" data-id={{post.id}}>삭제</a>
	</div>
    {%endif%}	   
	</div>	
</form>


<div class="row">	
	<form action="{{ url_for('put_post', id=post.id) }}" method="post">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <table class="table table-striped" border="1">
        <thead>
			<p>현재 제안서는 {{post.status}} 상태입니다.
			{% if g.user.is_admin()	%}
        	<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

        	제안상태변경
			</button>
			{% endif %}
			</p>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h2 class="modal-title" id="myModalLabel">제안상태변경하기</h2>
	 			  </div>

			      <div class="modal-body">
			      	<div class="btn-group">
			      		<p>상태 </p>
			      		<select id="status" name="status">
							<option value="대기중">대기중</option>
							<option value="개발예정">개발예정</option>
							<option value="개발중">개발중</option>
							<option value="업데이트">업데이트</option>
							<option value="반려">반려</option>
						</select>
	            		<div>
	    				<p>의견</p>
	    				<pre><textarea rows="8" cols="50" name="opinion"> </textarea></pre>
	            		</div>
			      	</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <input type="submit" value="변경완료">
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
       </thead>     
       <tbody>
        	{% for comm in post.comments %}
        	{% if comm.section==10%}
        	<tr><td class="result">{{comm.comment}} </td></tr>
        	{% endif %}
        	{% endfor %}
        </tbody>
		</table>
	</div>
	</form>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr>
  </div>
  

    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12" name="comm_list">
        	{% for comm in post.comments %}		
        	{% if comm.section==99%}		 
        	<table class="table table-condensed" data-id={{comm.id}}>  
        		<tr>      		
        		<th> <img src={{set_img('comm.user.email')}} class="thumbnails">
        			 {{comm.user.email}}
        			 {{comm.created_at.date()}}
        			 <p style="padding:0 70px" id={{comm.id}}> {{ comm.comment }}</p>
        		</th>
     			</tr>
        		 <td>
        		 	<div class='edit_box'>
                	<span class="error"> 댓글을 입력하세요 </span>
                	</div>
                </td>
                 {% if g.user.email==session['user_email']  %}
                <td style="width:300px;height:100px">
                	<a class="btn btn-default modify" role="button">수정</a>
                	<a class="btn btn-default delete" role="button">삭제</a>
                </td>
              {%endif%}
              {% endif%}
            </table>
            {%endfor%}
        </div>
    </div>
    


    <div class="row">
    	<form action="{{ url_for('add_comm', id=post.id) }}" method="post"> 
    	<div class="col-xs-12 col-md-12 col-sm-12">
		<div id="addComm">   
	 	<ul class="list-inline">
	      <li><img src="{{session.get('gravatar')}}"></li>
	      <li><p class="form-control-static" name="email">{{session['user_email']}}</p></li>
	    </ul>                      
	    <textarea class="form-control reply" name="reply" rows="3"> </textarea>  
	    <input type="submit" class="pull-right" value="댓글 입력">    
	</div>
	<hr>
		</div>
		</form>
		</div>
		
	