  
.comment{
 	max-height:200px; min-height:100px; max-width: 400px; min-width:300px;
 	 }

   
.center-block {
	vertical-align:bottom;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top:20px;
	#background:#C6CFFE;
	height:300px;
	}


.page-bottom{
    vertical-align: bottom;
    }


   

.nav-list {
     position:fixed;
     top: 35%;
     width: 21.7%;
        }


.centered{
	 padding-top:20%;    
     padding-right:100px;
     padding-left:100px;
	}        


.cursor{
    cursor:pointer;
	}


P {
	font-size: medium;        
    font-weight: bolder;
	}


.nav-list {
    position:fixed;
    top: 35%;
    width: 21.7%;
	}


.go-top{
    position: fixed;
    bottom:2em;
    left:2em;
    text-decoration: none;
    color:white;
    background-color:gray;
    font-size: 12px;
    padding:1em;
	}


.go-top:hover{    
    background-color:black;
	}


.date{
   text-align:center;
   font-size: 12px;
	}


.body{
  padding-top:20%;
  padding-right:100px;
  padding-left:100px;
	}
          

#container{
	width:100%;
	height:300px;
	overflow: hidden;
	}


textarea{
	size=50;
	rows=8;
	}

